* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}

.text-orange {
  color: orange;
}

.flexible-section {
  display: flex;
  margin-bottom: 150px;
  align-items: center;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}

.link-btn {
  display: inline-block;
  background-image: linear-gradient(to right, orange, tomato);
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.top-banner {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  padding-top: 100px;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.expariance-item {
  width: 40%;
  margin-left: 5%;
  margin-left: 5%;
  padding: 25px;
  padding-left: 20px;
  box-shadow: 0px 0px 10px grey;
}
.expariance-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
}

#web-exp {
  border-left: 7px solid;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
}

#web-exp2 {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(32, 17, 233), rgb(13, 199, 231));
  border-image-slice: 1;
}

footer p {
  text-align: center;
  color: rgb(109, 108, 108);
  margin-bottom: 10px;
}
